<div class="firstPart">
    <div class="center" >
        <canvas id="c"></canvas>
    </div>

    <button class="btn btn-success" style="display: block; margin: auto; margin-bottom:20%; margin-top: 5px;" id="link" *ngIf="url" (click)="save()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
          </svg> Save!
    </button>
        
    <app-menu class="center" style="margin-left: 30%; margin-right: 30%; border-radius: 10px;"></app-menu>
        

</div>

<div class="d1" *ngIf="url" style="background-color: #DDDDDD;margin-left: 30%; margin-right: 30%; margin-top: 20px; border-radius: 10px;">
    <h3 style="margin: 5px;">Edit</h3>
    <div class="ur">
        <button style="margin-top: 5px;"  (click)="undo()">Undo!</button>
        <button style="margin-top: 5px;"  (click)="redo()">Redo!</button>
    </div>
    <div *ngIf="filteredColor || filteredSize>0" >
        <label >Filtered: 
            <span *ngIf="filteredColor" [style.color]="filteredColor">{{filteredColor.toUpperCase()}} Color</span>
            <span *ngIf="filteredSize>0" [style.font-weight]="'bold'"> {{pxToText(filteredSize)}} Size </span> </label>
        <button (click)="showAll()">Show all</button>
    </div>
    
    <div class>
        <div class="dropdown">
            <button class="dropbtn" >Filter By Color</button>
            <div class="dropdown-content">
              <a (click)="filter('black')" [style.color]="'black'">Black</a>
              <a (click)="filter('red')" [style.color]="'red'">Red</a>
              <a (click)="filter('blue')"[style.color]="'blue'">Blue</a>
              <a (click)="filter('')">Clear</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" >Filter By Thickness</button>
            <div class="dropdown-content">
              <a (click)="filter(2)" [style.font-size.px]="'10'">Lower</a>
              <a (click)="filter(4)" [style.font-size.px]="'12'">Low</a>
              <a (click)="filter(6)" [style.font-size.px]="'14'">Mid</a>
              <a (click)="filter(10)" [style.font-size.px]="'16'">High</a>
              <a (click)="filter(20)" [style.font-size.px]="'20'">Higher</a>
              <a (click)="filter(-1)" [style.font-size.px]="'20'" [style.color]="'rgb(76, 223, 76)'">Clear</a>
            </div>
        </div>
    </div>
    
    
  
</div>
