<div class="center">

<canvas id="c"></canvas>

</div>
<button style="display: block; margin: auto; margin-bottom: 5px; margin-top: 5px;" id="link" *ngIf="url" (click)="save()">Save!</button>

<app-menu class="center"></app-menu>

<div class="d1" *ngIf="url">
    
    <div class="ur">
        <button style="margin-top: 5px;"  (click)="undo()">Undo!</button>
        <button style="margin-top: 5px;"  (click)="redo()">Redo!</button>
    </div>


    <div class="dropdown"   >
        <button class="dropbtn" >Filter</button>
        <div class="dropdown-content">
          <a href="#">Black</a>
          <a href="#">Red</a>
          <a href="#">Blue</a>
        </div>
        
    </div>
    
   

</div>
