<div class="container">
    <div class="row justify-content-md-center">
        <div class="custom-file">
            <input type="file" class="custom-file-input" accept="image/*" id="customFile" (change)="onFileChanged($event)">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
    </div>
   
    
    <div class="row justify-content-md-center">
        <div class="btn-group" role="group" aria-label="Basic example">
        <button [style.marginRight.px]="''" type="button" class="btn btn-primary " (click)="shape('line')">Line</button>
        <button type="button" class="btn btn-info" (click)="shape('point')">Point</button>
      </div>   
    </div>
    
    <div class="row justify-content-sm-center">
          <div ngbDropdown class="d-inline-block">
                <button [style.marginRight.px]="'3'" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Change Color</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="color('black')">Black</button>
                  <button ngbDropdownItem (click)="color('red')" >Red</button>
                  <button ngbDropdownItem (click)="color('blue')" >Blue</button>
                </div>

        </div>

            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Change Thickness</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="thick(2)">Lower</button>
                  <button ngbDropdownItem (click)="thick(4)" >Low</button>
                  <button ngbDropdownItem (click)="thick(6)" >Mid</button>
                  <button ngbDropdownItem (click)="thick(10)">High</button>
                  <button ngbDropdownItem (click)="thick(20)" >Higher</button>
                </div>
          </div>


       
    </div>
</div>