div{
    margin-top: 2px;
    margin-bottom: 2px;
}
.btn-sm{
    border-color:white;
    border-radius: 5px;
}


.btn-sky{
    background-color: #11a9cc !important;
  color: #fff
  }

.text{
    font-size: large;
}